.busLogo {
  width: 100px;
  height: 100px;
  display: inline;
  vertical-align: top;
  margin-right: 15px;
}

h1 {
  display: inline-block;
  height: 50px;
  font-family: 'Krona One', sans-serif;
  font-size: 50px;
  color: rebeccapurple;
  padding-top: 65px;
  padding-bottom: 20px;
}

header {
  margin: 2% auto;
  width: 90%;
  border-bottom: gray 3px solid;
}

main {
  width: 90%;
  margin: 0px auto;
  padding: 25px 25px 1px 25px;
}

#intructions {
  width: 70%;
  margin: 20px 15% 50px;
}

span {
  font-size: 22px;
  font-family: Helvetica,Arial,sans-serif;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

#resultsSection {
  margin-left: 5%;
  width: 550px;
  display: inline-block;
  float: left;
}

#imagesDisplayed {
  vertical-align: top;
  margin-left: 5%;
  margin-top: 5%;
  width: auto;
  display: inline;
}

#resultsPlaceHolder {
  width: 550px;
  height: 350px;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

img {
  border: 5px solid black;
  width: 275px;
  height: 300px;
} 

h2 {
  font-family: 'PT Sans', sans-serif;
  margin: 55px 0px; 
  font-size: 32px;
  color: rgb(211, 51, 144);
  text-align: left;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  margin: 15px 0px; 
  font-size: 22px;
  color: rgb(211, 51, 144);
  text-align: left;
}

#thankYou {
  text-align: center;
}

 p {
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
  line-height: 1; 
  color: black;
  text-align: left;
  margin: 10px;
}

footer {
  width: 90%;
  border-top: gray 3px solid;
  margin: 3% auto;
}

#footerNotes {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  text-align: center;
}

#brandName {
  color: rebeccapurple;
}

a {
  margin: 25px auto;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: rebeccapurple;
  width: auto;
  text-align: center;
  display: block;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}
